.top{
  list-style-type:none ;
  margin: 0;
  padding: 0;
  overflow:hidden;
  font-size:20px;
  background-color: #5c4d7d;
}

li .left{
  float: left ;
}
  
li .login{
  float: right;
}

li a {
  display:block;
  color: white;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
} 
 
li a:hover {
  color : wheat;
} 






  